
$btn-bg: var(--product-scheme-main-color);
$box-bg: #ffffff;
$box-bd-color: rgba(17, 17, 17, 0.20);
$box-bd-active-color: var(--product-scheme-border-color);
$box-bd-nav-color: #C4C4C4;
$box-bg-hover: white;
$box-bg-active: var(--product-scheme-bg-color);
$box-color-list: #2DB059;
$box-text-color: #454A76;
 
$title-color: #222E31; 

// .form-skio-selector {   
//     .prive-widget { 
//         display: none !important;
//     } 
// }

.b-skio {
    margin-top:-6px;

    .ctr-product-option { 
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 0 31px;
            padding: 0;
        } 

        &__item {
            list-style-type: none;
            padding: 0;
            margin: 0;

            &:first-child {
                .ctr-product-option__button {
                    border-radius: 10px 0 0 10px; 
                }
            }

            &:last-child {
                .ctr-product-option__button {
                    border-radius: 0 10px 10px 0;
                }
            }
        }

        &__button {
            border: 1px solid $box-bd-nav-color;
            width: 100%;
            font-size: 20px;
            line-height: 24px;
            padding: 12px 0;
            color: #454A76;

            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 20px;
            }

            &.m-active {
                border-color: $box-bd-active-color; 
                background-color: $btn-bg;
            }
        } 
    }

    &__title {
        font-size: 24px; 
        line-height: 30px;  
        color: #454A76;
        font-weight: bold;
        text-align: center;
        margin-bottom: 12px; 
    }

	&__wrapper { 
        display: flex;
        flex-direction: column;
        gap: 22px;

        &.subscription-toggle { 
            display: none;
        }
    }
 
    &__variant { 

 
        &-interval {
            display: block;
            padding-top: 5px;
            color: $box-color-list;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.2em;
        }
  
        &-title {
            font-size: 14px;
            color: #454A76;
            font-weight: bold;
            margin-bottom: 9px;
        }
 
        &-prices {
            display: flex;
            align-items: center;
            gap: 12px;

            @media screen and (max-width: 768px) {
               font-size: 16px;
            }
        }

        &-price { 
            font-size: 16px;
            color: #454A76;
            font-weight: bold;
 
            
            &.m-old {
                text-decoration: line-through; 
                opacity: 0.5;
                font-weight: normal;
            }
        }

        &-save {
            display: flex; 
            padding: 4px 8px;  
            font-size: 12px;
            line-height: 12px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: Lato;
            justify-content: center;
            align-items: center;
            gap: 16px; 
            border-radius: 4px;
            background: #B6E8C7;
            color: #1C7339;
        }

        &-items {
            display: flex;
            flex-direction: column;
            gap: 16px; 
            margin-bottom: 16px; 

            @media (max-width: 768px) {
                gap: 30px;
            }
        }

        &-item {
            position: relative;
            border: 1px solid $box-bd-color;
            border-radius: 10px;
            padding: 18px 20px 22px 52px; 
            transition: all 0.3s ease;
            font-size: 20px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0; 
                width: 100%;
                height: 100%;
                background-color: $box-bg-active;
                opacity: 0;
                visibility: hidden;
                border-radius: 10px;
                z-index: -1; 
                transition: all 0.3s ease;
            }

            &:hover {
                border-color: $box-bd-active-color; 

                &::after {
                    opacity:  1;
                    visibility: visible;
                }
            }
        }
 
        &-tag {
            position: absolute;
            right: 18px; 
            top: 24px;
            color: #323836;
            font-family: Lato; 
            font-size: 16px;
            font-style: normal;   
            font-weight: 700;
            padding: 8px;
            line-height: 140%; /* 22.4px */  
            letter-spacing: -0.32px; 
            text-transform: uppercase;
            background: #FFCC4E;
            border-radius: 38px;
            min-width: 160px;
            text-align: center;

            @media (max-width: 768px) {
                right: 14px;
                top: -17px;
                padding: 7px;
            }
        }
    }

    &__box {
        position: relative;
        padding: 16px 20px 20px 20px; 
        border: 1px solid #000000; 
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &.m-subscribe {
            box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 1);
        }
 
        &.m-one-time {  
            padding: 18px 20px 20px 24px;
            border-color: $box-bd-nav-color;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0; 
                width: 100%;
                height: 100%;
                background-color: $box-bg-active;
                opacity: 0;
                visibility: hidden;
                border-radius: 10px;
                z-index: -1; 
                transition: all 0.3s ease;
            }

            &.m-selected { 
                border-color: $box-bd-active-color;
                

                .b-skio__box--radiobtn::after {
                    opacity: 1;
                    visibility: visible;
                }

                &::after { 
                    opacity: 1;
                    visibility: visible; 
                }
            }

            .b-skio__box--btn {
                margin-top: 0;
                opacity: 0;
                visibility: hidden;
                height: 0;
                padding: 0; 

                &.m-showed {
                    padding: 19px 15px 19px;
                    margin-top: 16px;
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
            }

            .b-skio__box--radiobtn {
                margin-top: 4px;
            }
        } 

        &.m-selected { 
            .b-skio__variant-item.m-selected {
                border-color: $box-bd-active-color; 

                .b-skio__box--radiobtn::after {
                    opacity: 1;
                    visibility: visible;
                } 

                &::after { 
                    opacity: 0.2;
                    visibility: visible; 
                }
            } 
        } 
    }

    &__box-select {
        width: 100%;
        font-family: Poppins ,sans-serif;
        background-color: transparent;
        border: none; 
        border-bottom: 1px solid #000;
        outline: none;
        font-size: 12px;
        line-height: 20px;
        padding: 5px 3px;
        color: $title-color;
        font-weight: 500 !important;
        cursor: pointer;

        option {
            font-weight: 500 !important;
            cursor: pointer;
        }
 
        &:focus-visible {
            border: none;  
            border-bottom: 1px solid #000;
            outline: none;
            box-shadow: none;
        }
    }

    &__box--btn {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;   
        padding: 19px 15px 19px;
        background-color: $btn-bg; 
        border: 1px solid $box-bd-color;   
        border-radius: 10px;   
        color: $title-color;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer; 
        box-shadow: 4px 4px 0 1px rgba(0, 0, 0, 1);
        transition: all 0.3s ease;

        &:hover {
            background-color: $box-bg-hover; 
            border-color: $box-bd-active-color; 
            color: $title-color;
        }  
    }
 
    &__box-block {
        
    }

    &__box--title {
        font-size: 20px;
        color: #454A76; 
        font-weight: bold;
        display: flex;
    }

    &__box--radiobtn {
        position: absolute;
        top: 50%;
        left: 23px;
        transform: translateY(-50%);
        max-width: 18px;
        max-height: 18px;  
        min-width: 18px;
        min-height: 18px;
        width: 18px; 
        height: 18px;  
        border-radius: 50%; 

        border: 1px solid rgba(0, 0, 0, 0.10);
        background-color: #fff;
        box-sizing: border-box;

        &::after {
            content: ''; 
            position: absolute; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            width: 19px; 
            height: 19px;
            border-radius: 50%; 
            background-color: transparent;
            border: 5px solid $box-bd-active-color;
            transition: all 0.3s ease;
            opacity: 0; 
            visibility: hidden;
        }
    }  
 
    &__box-description {
        color: #454A76;
        font-size: 18px; 
        line-height: 1.3em; 

        &.m-once {
            
            opacity: 0;
            height: 0;
            visibility: hidden;
            transition: all 0.3s ease;

            ul li:before {
                background-image: none;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M7 17.2427L17.2427 7.00001' stroke='%23F71F23' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 7L17.2427 17.2427' stroke='%23F71F23' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }  

            &.m-showed {
                padding-top: 10px;
                opacity: 1;
                visibility: visible;
                height: auto;
            }
        }

        &.m-subscribe {
            ul li:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M5 12L10 17L20 7' stroke='%232DB059' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }

        ul { 
            margin: 0 0 16px;
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
 
        li {
            list-style: none;
            color: #454A76;
            font-size: 18px;
            line-height: 1.3em; 
            position: relative;
            padding-left: 34px;
 
            &::before {
                position: absolute;
                overflow: hidden;
                left: 0;
                top: 0; 
                content: '';
                
                background-size: contain; 
                background-repeat: no-repeat;
                background-position: center; 
                color: $box-color-list;    
                font-weight: bold;   
                margin-right: 5px;
                width: 24px;    
                height: 24px;
            }  
        } 
    }  

    &__box--inner {
        position: relative;
        padding-left: 30px;  
        display: flex;
        flex-direction: column;
        gap: 2px;   
        
        .b-skio__box--radiobtn {
            left: 0;
        }

        .b-skio__variant-price {
            margin-top: -4px;
            margin-bottom: 3px;
        }

        .b-skio__variant-interval {
            padding-top: 0;  
        }
    } 

    &__box--price {  

    }

    &__box--oldprice {

    }
}

.product-info {
    .product-title {
        font-size: 32px;
        line-height: 100%;
        color: #454A76;
        font-weight: bold; 
        margin-bottom: 16px; 
        font-weight: bold;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
 
    

}

.product-gallery {
    .product-gallery__thumbnail {
        width: 85px;
        height: 85px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 16px; 
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-gallery__media {
        padding-bottom: 100%;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
